-lead t("header.CHOOSEYOURDESTINY")
.row#main
	.row
		.small-6.columns
			%ul.breadcrumbs
				%li.current
					%a{href: "#"} TORNEOS
				%li
					%a{href: "#"} DESAFÍOS
				%li
					%a{href: "#"} LIGA
		.small-6.columns
			%dl.sub-nav.right
				%dt Filtro:
				%dd.active
					%a{href: "#"} Todos
				%dd
					%a{href: "#"} Juego 1
				%dd
					%a{href: "#"} Juego 2
				%dd
					%a{href: "#"} Juego 3
			
	#daily.row{"data-equalizer" => ""}
		%h3 DIARIOS
		.tour-container.small-4.columns
			.small-5.columns
				%ul.pricing-table{"data-equalizer-watch" => ""}
					%li.title
						%i.fi-torsos.size-large
					%li.bullet-item 
						Creador: 
						%a Panikshock
					%li.bullet-item Modo: BO3

			.small-7.columns
				%ul.pricing-table{"data-equalizer-watch" => ""}
					%li.title StarCraft II Challenge
					%li.price
						%small PREMIO 
						$99.99
					%li.bullet-item Duración: 24hrs
					%li.bullet-item Slots: 14/7
					%li.cta-button
						%a.button{href: "#"} Entrar

		.tour-container.small-4.columns
			.small-5.columns
				%ul.pricing-table{"data-equalizer-watch" => ""}
					%li.title
						%i.fi-torsos.size-large
					%li.bullet-item 
						Creador: 
						%a Panikshock
					%li.bullet-item Modo: BO3

			.small-7.columns
				%ul.pricing-table{"data-equalizer-watch" => ""}
					%li.title StarCraft II Challenge
					%li.price
						%small PREMIO 
						$99.99
					%li.bullet-item Duración: 24hrs
					%li.bullet-item Slots: 14/7
					%li.cta-button
						%a.button{href: "#"} Entrar
		.tour-container.small-4.columns
			.small-5.columns
				%ul.pricing-table{"data-equalizer-watch" => ""}
					%li.title
						%i.fi-torsos.size-large
					%li.bullet-item 
						Creador: 
						%a Panikshock
					%li.bullet-item Modo: BO3

			.small-7.columns
				%ul.pricing-table{"data-equalizer-watch" => ""}
					%li.title StarCraft II Challenge
					%li.price
						%small PREMIO 
						$99.99
					%li.bullet-item Duración: 24hrs
					%li.bullet-item Slots: 14/7
					%li.cta-button
						%a.button{href: "#"} Entrar
		.row
			%ul.pagination.right
				%li.arrow.unavailable
					%a{href: ""} «
				%li.current
					%a{href: ""} 1
				%li
					%a{href: ""} 2
				%li
					%a{href: ""} 3
				%li
					%a{href: ""} 4
				%li.unavailable
					%a{href: ""} …
				%li
					%a{href: ""} 12
				%li
					%a{href: ""} 13
				%li.arrow
					%a{href: ""} »

	#weekly.row{"data-equalizer" => ""}
		%h3 SEMANALES
		.tour-container.small-4.columns
			.small-5.columns
				%ul.pricing-table{"data-equalizer-watch" => ""}
					%li.title
						%i.fi-torsos.size-large
					%li.bullet-item 
						Creador: 
						%a Panikshock
					%li.bullet-item Modo: BO3

			.small-7.columns
				%ul.pricing-table{"data-equalizer-watch" => ""}
					%li.title StarCraft II Challenge
					%li.price
						%small PREMIO 
						$99.99
					%li.bullet-item Duración: 24hrs
					%li.bullet-item Slots: 14/7
					%li.cta-button
						%a.button{href: "#"} Entrar

		.tour-container.small-4.columns
			.small-5.columns
				%ul.pricing-table{"data-equalizer-watch" => ""}
					%li.title
						%i.fi-torsos.size-large
					%li.bullet-item 
						Creador: 
						%a Panikshock
					%li.bullet-item Modo: BO3

			.small-7.columns
				%ul.pricing-table{"data-equalizer-watch" => ""}
					%li.title StarCraft II Challenge
					%li.price
						%small PREMIO 
						$99.99
					%li.bullet-item Duración: 24hrs
					%li.bullet-item Slots: 14/7
					%li.cta-button
						%a.button{href: "#"} Entrar
		.tour-container.small-4.columns
			.small-5.columns
				%ul.pricing-table{"data-equalizer-watch" => ""}
					%li.title
						%i.fi-torsos.size-large
					%li.bullet-item 
						Creador: 
						%a Panikshock
					%li.bullet-item Modo: BO3

			.small-7.columns
				%ul.pricing-table{"data-equalizer-watch" => ""}
					%li.title StarCraft II Challenge
					%li.price
						%small PREMIO 
						$99.99
					%li.bullet-item Duración: 24hrs
					%li.bullet-item Slots: 14/7
					%li.cta-button
						%a.button{href: "#"} Entra
		.row
			%ul.pagination.right
				%li.arrow.unavailable
					%a{href: ""} «
				%li.current
					%a{href: ""} 1
				%li
					%a{href: ""} 2
				%li
					%a{href: ""} 3
				%li
					%a{href: ""} 4
				%li.unavailable
					%a{href: ""} …
				%li
					%a{href: ""} 12
				%li
					%a{href: ""} 13
				%li.arrow
					%a{href: ""} »


	#free.row{"data-equalizer" => ""}
		%h3 GRATIS
		.tour-container.small-4.columns
			.small-5.columns
				%ul.pricing-table{"data-equalizer-watch" => ""}
					%li.title
						%i.fi-torsos.size-large
					%li.bullet-item 
						Creador: 
						%a Panikshock
					%li.bullet-item Modo: BO3

			.small-7.columns
				%ul.pricing-table{"data-equalizer-watch" => ""}
					%li.title StarCraft II Challenge
					%li.price
						%small PREMIO 
						$99.99
					%li.bullet-item Duración: 24hrs
					%li.bullet-item Slots: 14/7
					%li.cta-button
						%a.button{href: "#"} Entrar

		.tour-container.small-4.columns
			.small-5.columns
				%ul.pricing-table{"data-equalizer-watch" => ""}
					%li.title
						%i.fi-torsos.size-large
					%li.bullet-item 
						Creador: 
						%a Panikshock
					%li.bullet-item Modo: BO3

			.small-7.columns
				%ul.pricing-table{"data-equalizer-watch" => ""}
					%li.title StarCraft II Challenge
					%li.price
						%small PREMIO 
						$99.99
					%li.bullet-item Duración: 24hrs
					%li.bullet-item Slots: 14/7
					%li.cta-button
						%a.button{href: "#"} Entrar
		.tour-container.small-4.columns
			.small-5.columns
				%ul.pricing-table{"data-equalizer-watch" => ""}
					%li.title
						%i.fi-torsos.size-large
					%li.bullet-item 
						Creador: 
						%a Panikshock
					%li.bullet-item Modo: BO3

			.small-7.columns
				%ul.pricing-table{"data-equalizer-watch" => ""}
					%li.title StarCraft II Challenge
					%li.price
						%small PREMIO 
						$99.99
					%li.bullet-item Duración: 24hrs
					%li.bullet-item Slots: 14/7
					%li.cta-button
						%a.button{href: "#"} Entra

		.row
			%ul.pagination.right
				%li.arrow.unavailable
					%a{href: ""} «
				%li.current
					%a{href: ""} 1
				%li
					%a{href: ""} 2
				%li
					%a{href: ""} 3
				%li
					%a{href: ""} 4
				%li.unavailable
					%a{href: ""} …
				%li
					%a{href: ""} 12
				%li
					%a{href: ""} 13
				%li.arrow
					%a{href: ""} »