-lead t("header.HALLOFFAME")

.row#main
	.row
		%h3 ÚLTIMOS GANADORES
		#last-winners.small-12.columns
			%ul.example-orbit-content{"data-options" => "animation_speed:1000; bullets:false;", "data-orbit" => ""}
				%li{"data-orbit-slide" => "headline-1"}
					%div
						.small-6.columns{:style => "padding: 4%"}
							.small-4.columns
								%i.fi-torso.size-large
							.small-8.columns
								%h4.bolder Panikshock
								%h5 Torneo: STARCRAFT CHALLANGE
								%h5 Premio: 100USD, Primer Lugar
								%h5 PvP Rank: 2°

						.small-6.columns{:style => "padding: 4%"}
							.small-4.columns
								%i.fi-torso.size-large
							.small-8.columns
								%h4.bolder Panikshock
								%h5 Torneo: STARCRAFT CHALLANGE
								%h5 Premio: 100USD, Primer Lugar
								%h5 PvP Rank: 2°
				%li{"data-orbit-slide" => "headline-2"}
					%div
						.small-6.columns{:style => "padding: 4%"}
							.small-4.columns
								%i.fi-torso.size-large
							.small-8.columns
								%h4.bolder Panikshock
								%h5 Torneo: STARCRAFT CHALLANGE
								%h5 Premio: 100USD, Primer Lugar
								%h5 PvP Rank: 2°

						.small-6.columns{:style => "padding: 4%"}
							.small-4.columns
								%i.fi-torso.size-large
							.small-8.columns
								%h4.bolder Panikshock
								%h5 Torneo: STARCRAFT CHALLANGE
								%h5 Premio: 100USD, Primer Lugar
								%h5 PvP Rank: 2°
				%li{"data-orbit-slide" => "headline-3"}
					%div
						.small-6.columns{:style => "padding: 4%"}
							.small-4.columns
								%i.fi-torso.size-large
							.small-8.columns
								%h4.bolder Panikshock
								%h5 Torneo: STARCRAFT CHALLANGE
								%h5 Premio: 100USD, Primer Lugar
								%h5 PvP Rank: 2°

						.small-6.columns{:style => "padding: 4%"}
							.small-4.columns
								%i.fi-torso.size-large
							.small-8.columns
								%h4.bolder Panikshock
								%h5 Torneo: STARCRAFT CHALLANGE
								%h5 Premio: 100USD, Primer Lugar
								%h5 PvP Rank: 2°

	.row{:style => "margin-top: 4%"}
		.small-6.columns
			%h3 PvP RANK
			#pvp-rank

		.small-6.columns
			%h3 HONOR RANK
			#honor