-lead t("command.index.COMMANDCENTER")
.row#main
	=form_for current_user, url: destroy_session_path, method: 'post' do |f|
		%h3.bolder
			=current_user.username
		-if current_user.user_statuses.last.present?
			\"
			=current_user.user_statuses.last.status
			\"
	=form_for @status,  method: 'post' do |f|
		=f.text_area :status, :placeholder => "What's going on Biiiaaaattchhhh??!!"
		=f.submit 'Actualizar'
		
	.column.small-12.text-right.main-section
		.row.main-section-header
			%h2=t("command.index.CALENDARIO")
			%i.fi-calendar.size-48
		%hr.style-one.row
		%p1=t("command.index.Notieneseventosnipartidosagendados")
		-unless @eventos.nil?
			-@eventos.each do |evento|
				%p
					=evento.name
					=evento.game.name
					=evento.start.strftime("%d") #Dia
					=evento.start.strftime("%h") #Mes
					=evento.start.strftime("%H:%M") #Hora
					=evento.start.strftime("%Z") #Zona Horaria por defecto UTC

	.column.small-12
		.row.text-right.main-section
			.small-6.columns
				.row.main-section-header
					%h2=t("command.index.MISTORNEOS")
					%i.fi-trophy.size-48
				%hr.style-one.row
				%p1=t("command.index.Noestasparticipandodeninguntorneo")
				-unless @user_torneos.nil?
					-@user_torneos.each do |torneo|
						%p
							=image_tag torneo.game.icon #agregar la imagen en manage
							=torneo.name
							=torneo.price
							
			.small-6.columns
				.row.main-section-header
					%h2=t("command.index.MIS1V1")
					%i.fi-skull.size-48
				%hr.style-one.row
				%p1=t("command.index.Notienesactivoningundesafio")
				=#Considerado solo un tipo de torneo

	.column.small-12.text-right.main-section
		.row.main-section-header
			%h2=t("command.index.SUGERENCIAS")
			%i.fi-bookmark.size-48
		%hr.style-one.row
		%p1=t("command.index.Comienzaenlazandotuscuentasdevideojuegosparacomenzarasugerirtetorneos")
		-unless @eventos.nil?
			-@eventos.each do |evento|
				%p
					=evento.name
					=evento.game.name
					=evento.start.strftime("%d")
					=evento.start.strftime("%h")
					=evento.start.strftime("%H:%M")
					=evento.start.strftime("%Z")
		

	.column.small-12.text-right.main-section
		.row.main-section-header
			%h2=t("command.index.BUSCAUNOPONENTEdospuntosCHAT")
			%i.fi-target-two.size-48
		%hr.style-one.row
		%ul#chat
			= render @messages
		= form_for Message.new, remote: true do |f|
			= f.text_field :message
			= f.submit t("command.index.Send")