-lead t("command.index.COMMANDCENTER")
.row#main
	=form_for current_user, url: destroy_session_path, method: 'post' do |f|
		%h3.bolder
			=current_user.username
		-if current_user.user_statuses.last.present?
			\"
			=current_user.user_statuses.last.status
			\"
	=form_for @status,  method: 'post' do |f|
		=f.text_area :status, :placeholder => "What's going on Biiiaaaattchhhh??!!"
		=f.submit 'Actualizar'

	.column.small-12.text-right.main-section
		.row.main-section-header
			%h2=t("command.newgame.GESTIONDEJUEGOS")
			%i.fi-widget.size-48

		%hr.style-one.row{:style => "margin-bottom: 5%"}

		.row
			.small-6.columns
				%h4.bolder.text-center=t("command.newgame.ENLAZADOS")


			.small-6.columns
				%h4.bolder.text-center=t("command.newgame.EQUIPOS")

	-# .row
	-# 	.columns.large-6
	-# 		%h1.subheader Account
	-# 		= simple_form_for @account do |f|
	-# 			= f.association :game
	-# 			= f.association :server
	-# 			= f.input :account_number
	-# 			= f.input :username
	-# 			= f.input :extra
	-# 			= f.button :submit
	-# 	.columns.large-6
	-# 		%h1.subheader Accounts list
	-# 		%ul
	-# 			- @user_accounts.each do |account|
	-# 				%li
	-# 					= account.game.name
	-# 					\- #{account.server.name} - #{account.username.capitalize}