// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#main-hall
	.row
		margin-top: 4%

#profile-header
	padding-top: 8%
	i
		display: -webkit-inline-box

#left-menu
	li
		width: 100%
		border-bottom: .3rem solid #e5e5e5
	ul.dropdown
		li
			border-bottom: .1rem solid #e5e5e5
	background-color: transparent
#profile_options
	text-align: center
	display:block
	padding: 5px
.main-section
	min-height: 15rem
	.style-one
		margin-bottom: 2%
	.main-section-header
		display: -webkit-inline-box
		i
			margin-left: .7rem
.small-block-grid-5
	span
		position: absolute

///// VISTA -> CHOOSE YOUR DESTINY

.sub-nav
	padding: 0.5625rem 0.875rem 0.5625rem

.breadcrumbs
	width: 50%

#daily, #weekly, #free
	margin-top: 4%
.tour-container, #last-winners, #pvp-rank, #honor
	background-color: #f4f4f4
	padding-top: 1%
	.columns
		padding: 0

.pricing-table
	background-color: #fff
	.bullet-item
		border-bottom: none
	.price
		small
			font-size: 40%

.pagination
	margin: 1%