// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#profile-header
	padding-top: 8%
	i
		display: -webkit-inline-box

#left-menu
	li
		width: 100%
		border-bottom: .3rem solid #e5e5e5
	ul.dropdown
		li
			border-bottom: .1rem solid #e5e5e5
	background-color: transparent