// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#portada
	height: 400px
	width: 100%
	background-image: asset-url("index-background.jpg")
	background-size: cover
	border-radius: 0 0 20px 20px
	box-shadow: 0 10px 50px #000000
#portada-login
	margin-top: 20px
.pink
	border-radius: 5px
	background-color: rgba(228,13,254, 0.6)
	padding-top: 1rem
	margin-right: 1rem!important
.pink-container
	width: 100%
	display: block

